<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://kit.fontawesome.com/cbf25ca67e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="../css/Model.css" rel="stylesheet" type="text/css">
  <script src="../js/reloj.js"></script>
  <title>Hotel</title>
</head>

<body class="backgroundPan">

  <div class="container-fluid">

    <div th:insert="/Fragment/cabezeraAdmin.html :: cabezeraAdmin"></div>

  </div>

  <br>

  <div class="container cardBg">
    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-8">
        <h2 class="text-center">Gestor de Actividades</h2>
        <hr>
        <div class="container">
          <div class="row ">
            <div class="col-sm-12">
              <!-- Content -->
              <h3 class="text-left">Añadir actividad</h3>

              <div class="card">

                <form th:object="${addActividad}" method="POST" action="#"
                  th:action="@{/admin/gestion-actividades/submit}">


                  <select id="Plantilla" class="form-control" th:field="*{pa}">
                    <option value="">Selecciona una opción</option>
                    <option th:each="Plantilla : ${plantillaAct}" th:value="${Plantilla.id}"
                      th:text="${Plantilla.nombre}">N/S</option>
                  </select>


                  <!--   <label for="repe">Repeticiones:</label>
                  <input type="number" class="form-control" placeholder="Introduce un valor" id="repe" required>
					-->
                  <label for="fechas">Fecha y hora:</label>
                  <input type="datetime-local" class="form-control" placeholder="Introduce la id de la actividad"
                    id="fechas" th:field="*{horaInicio}" required>
                  <br>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                  </div>
                </form>

              </div>
            </div>


            <div class="space-sm"></div>
            <div class="col-sm-12">
              <h3>Lista de actividades activas para los usuarios</h3>


              <div class="card">

                <div class="starter-template">
                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Hora de inicio</th>
                        <th>Borrar</th>

                    </thead>
                    <tbody>
                      <tr th:each="Actividad : ${listaActividad}">
                        <td th:text="${Actividad.pa.nombre}">Nombre</td>
                        <td th:text="${Actividad.horaInicio}">Hora de inicio</td>
                        <td><a href="#" th:href="@{/admin/gestion-actividades/borrar/{id}(id=${Actividad.id})}"><i
                              class="fa fa-times"></i></a></td>
                      </tr>
                    </tbody>
                  </table>




                </div>
              </div>
            </div>


            <!-- fin del Content -->
          </div>
        </div>







      </div>

    </div>

  </div>
  <div class="col-sm-2">

  </div>










  <!-- Pie -->
  <div th:insert="/Fragment/footer.html :: pie"></div>







  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


</body>

</html>